.app{
  background-color: hsl(180, 52%, 96%);
  min-height: 100vh;
}
.app__imageContainer,.app__image{
  height: 20vh;
  width: 100%;
}
.app__imageContainer{
  background-color: hsl(180, 29%, 50%);
}
.app__jobs{
  margin-top: 1rem;
  padding: 1.25rem 5vw 0;
} 
@media only screen and (min-width: 1000px){
  .app__jobs{
    padding: 1.25rem 10vw 0;
  }
}