.footer{ 
    margin-top: 1rem;
    font-size: 0.9375rem; 
    text-align: center; 
}
.footer__a{ 
    color: hsl(180, 8%, 52%); 
    cursor: pointer;
}
.footer__a:hover{
    color: hsl(180, 29%, 50%);
}